body{
    background-image: url("/Assests/bg\ img.png");
    size: cover;
    color: white;
    font-family: "Trirong", serif;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.nav-logo{
    height: 3%;
    width: 3%;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu{
    text-align: center;
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
}

.menu li{
    display: inline-block;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.menu li a:hover{
    background:#fff;
    color: #333;
    border-radius: 10px;
}




#robot{
    height: 30rem;
    width: 50rem;
    border-radius: 10%;
}

@media(max-width){
    .menu{
        float: none;
        margin-top: 0;
        text-align: center;
    }
    .menu li a{
        padding: 5px;
        font-size: 11px;
    }

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.image {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text, .image {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text {
        order: -1;
    }
}

.record{
    height: 35rem;
    
}