body{
    background-image: url("/Assests/bg\ img.png");
    size: cover;
    color: white;
    font-family: "Trirong", serif;
    
}

#bg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(15px);
    color: white;
    width: 100%;
}
.brand-title{
    font-size:2.5vw;
    text-transform: uppercase;
    margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.brand-title img {
    width: 4vw;
    margin:0% 2%;
}
.navbar-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: -3.8rem;
    
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 2%;

}
.navbar-links li {
    list-style: none;
    margin: 0;
    padding: 1.2vw;
    

}
.navbar-links li a {
    text-decoration: none;
    color: white;
    
    display: block;
    text-transform: uppercase;
    font-size: 2vw;
}
.navbar-links li:hover{
    background-color: #555;

}
.toggle-button {
    position: absolute;
    top: 1vh;
    right: 1vw;
    display: none;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
@media (max-width:499px) {
    .toggle-button{
        display: flex;

    }
    .navbar-links{
        display: none;
         width: 100%;
         text-transform: capitalize;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        margin: 0;

    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
  
        padding: 2vh;
        font-size: 2vh;
    }
    .brand-title{
        font-size: 2vh;
    }
    .brand-title img{
        width: 5vw;
    }
    .navbar-links.active{
    display: flex;
}
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}







#robot{
    height: 23rem;
    width: 50rem;
    border-radius: 10%;
    margin-top: -65px;
}

.image-wr{
    flex: 1;
    padding: -19px;
    box-sizing: border-box;
    text-align: center;
    margin-top:24px;
}
@media(max-width){
    .menu{
        float: none;
        margin-top: 0;
        text-align: center;
    }
    .menu li a{
        padding: 5px;
        font-size: 11px;
    }

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.image {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text, .image {
        flex: 1;
    }

    .image {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text {
        order: -1;
 
   }
}


/* body{
    background-color: rgb(42, 40, 39);
} */
#aboutschedule{
    width: 250px;
    height: 350px;
    float: left;
    padding-top: 10%;
    width: 50%;
    text-align: left;
    margin-left: 5rem;
    margin-top: -8rem;
    
}
.our-schedule{
    color: rgb(37, 37, 236);
    padding-top: 50px;
    font-family: copperplate;
    width: 50%;
}
.containerS{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10vh;
    width: 500px;
    margin: auto;
}
.card{
    background: rgb(21, 21, 21);
    height: 10vh;
    width: 500px;
    margin: auto;
    color: white;
    margin: 10px;
    
}
.float{
    float: left;
    padding-top: 2.5vh;
}
.blue{
    background-color: blue;
}
.contentS{
    padding-left: 20vh;
    padding: center;
    padding-top: 2.5vh;
}